version: '3.9'

services:
  database:
    build:
      context: ./lottery/docker/db
    container_name: bet_api-mysql
    restart: always
    ports:
      - 3306:3306
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=bet_api-mysql
    volumes:
      - mysqldata:/data/mysql
    networks:
      - app-network

  app:
    build:
      context: .
      dockerfile: ./lottery/docker/api/Dockerfile
    container_name: bet_api
    restart: always
    ports:
      - 3333:3333
      - 9229:9229 #debug
    volumes:
      - .:/usr/app
    links:
      - database
    networks:
      - app-network
    depends_on:
      - database

networks:
  app-network:
    driver: bridge

volumes:
  mysqldata:
    driver: local
